

body {
    background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    height: 100vh;
    text-align: center;
}

header{
    color:burlywood;
    font-size: 7vmin;
    letter-spacing: 2vmin;
    margin: 12px;
}

#sp1{ 
    width:40%;
    height:20%;
    border: black;
    border-radius: 50px;
    margin: 1vmin;

}

.sp{
   height: 50px;
   width: 200px;
   background-color:whitesmoke;
   text-align: center;
   margin-left: 50%;
   border: 1px solid black;
   
}



.reg{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}

.winner{
    background-color: lightblue;
}

.trap{
    background-color: lightcoral;
}

.lucky{
    background-color: green;
}
.start{
    background-color: lightgreen;

}

.player1{
max-height: 25%;
max-width:25%;
}

.player2{
max-height: 25%;
max-width:25%;
}